.header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.form-group.app-login-password {
  margin-bottom: 0 !important;
}

.row {
  margin-top: 10px;

  &.app-google-login {
    margin-top: 30px;
  }
}

.error {
  color: red;
}

.app-create-account {
  margin-top: 30px;
  text-align: center;
}

footer {
  font-size: 0.65rem;
  margin-top: 5rem;
  text-align: right;
  padding-right: 1rem;
}
