<!-- ngif+async technique below explained in   medium.com/@ofirrifo/extract-multiple-observables-with-the-async-pipe-in-angular-b119d22f8e05 -->
<section *ngIf="{
    userData: userData$ | async,
    userTidbits: userTidbits$ | async
} as data;">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profile</h1>
    </div>

    <!-- show user data when logged in -->
    <div class="row"
         *ngIf="data.userData">
        <div class="col-md-12">
            <div class="media">
                <img alt="{{data.userData.displayName}}"
                     src="{{data.userData.photoURL ? data.userData.photoURL : '/assets/dummy-user.png'}}"
                     class="align-self-start mr-5 img-thumbnail rounded-circle">
                <div class="media-body">
                    <h1>Hello <strong>{{data.userData.displayName ? data.userData.displayName : 'User'}}</strong></h1>
                    <p>User Id: <strong>{{data.userData.uid}}</strong></p>
                    <p>Email: <strong>{{data.userData.email}}</strong></p>
                    <p>Email Verified: <strong>{{data.userData.emailVerified ? '✔️' : '❌' }}</strong></p>
                    <p>
                        Overall Score:
                        <strong *ngIf="data.userTidbits?.totalNumberOfQuestions > 0; else notAvailable;">
                            {{(data.userTidbits.numberOfQuestionsAnsweredCorrectly / data.userTidbits.totalNumberOfQuestions) | percent}}
                            ({{data.userTidbits.numberOfQuestionsAnsweredCorrectly + '/' + data.userTidbits.totalNumberOfQuestions}})
                        </strong>
                        <ng-template #notAvailable>
                            <strong>N/A</strong>
                        </ng-template>
                    </p>
                    <button type="submit"
                            class="btn btn-primary"
                            routerLink="/new-quiz">
                        Test Me Up!
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
