<h1 class="header">Thank You for Registering!</h1>
<div *ngIf="{ userData: userData$ | async } as data;"
     class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-md-offset-3">
      <div *ngIf="data.userData"
           class="form-group">
        <p class="text-center">We have sent a confirmation email to <strong>{{data.userData.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verify your email address.</p>
      </div>

      <div *ngIf="errorMessage"
           role="alert"
           class="alert alert-danger app-alert-error">
        {{errorMessage}}
      </div>

      <div class="form-group">
        Didn't receive the Email?
      </div>

      <div class="form-group">
        <button type="button"
                class="btn btn-primary"
                (click)="resendVerificationMailForCurrentUserAsync()">
          <em class="fas fa-redo-alt"></em>
          Resend Verification Email!
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="app-go-to-sign-in-page">
      <p>Go back to <a routerLink="/sign-in">Sign In Page</a></p>
    </div>
  </div>
</div>
