@import "sizings";

.navbar .nav-item * {
  cursor: pointer;
}

.container-fluid .row {
  height: $core-view-height;
  margin-top: $app-header-size;

  .nav-item .nav-link {
    cursor: pointer !important;
  }

  .sidebar-sticky {
    top: 0;
    height: $core-view-height;
    position: -webkit-sticky;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.5rem;
    border-right: 0.5px solid lightgray;
  }
}
