<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"
     aria-label="Top Bar">
  <a routerLink="/dashboard"
     class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img alt="Quizer Logo"
         src="assets/logo-quizer.svg"
         class="d-inline-block align-top"
         width="30"
         height="30">
    Quizer!
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link"
         (click)="signOutClickedAsync()">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar sidebar-sticky"
         aria-label="Sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active"
             routerLink="/dashboard">
            🏠 Dashboard<span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </nav>

    <main role="main"
          class="col-md-8 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
