<div *ngIf="!quizCompleted" class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <span *ngIf="errors.occurred">
      An Error Occurred While Loading the Questionaire! Contact IT if this problem persists!
    </span>
    <span *ngIf="!quizCompleted && !currentQuestion && !errors.occurred">
      (Loading Please Wait ...)
    </span>
    <span *ngIf="!quizCompleted && currentQuestion && !errors.occurred">
      Question {{currentQuestionIndex + 1}} out of {{questionsCurrentBatchSize}} (Remaining Time {{timeRemaining}}secs)
    </span>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="!quizCompleted; else allDone;">
      <p>{{currentQuestion?.description}}</p>
      <form *ngIf="currentQuestion">
        <ng-container *ngFor="let possibleAnswer of currentQuestion.possibleAnswers; let i = index;">
          <!-- trackBy: questionTrackByFn; <- dont -->
          <div class="form-check">
            <input type="radio"
                   name="answers"
                   class="form-check-input"
                   [id]="'answer' + i"
                   [value]="possibleAnswer.id"
                   (change)="radioButtonAnyPossibleAnswer_changed(currentQuestion.id, possibleAnswer.id)">
            <label [for]="'answer' + i"
                   class="form-check-label">
              {{possibleAnswer.text}}
            </label>
          </div>
        </ng-container>
      </form>
    </div>

    <ng-template #allDone>
      <div role="alert"
           class="alert alert-primary app-results-alert">
        <h1 class="border-bottom">Quiz Complete! ✔️</h1>

        <h2>Score: {{correctAnswersCount / questionsCurrentBatchSize | percent }}</h2>
        <h3 *ngIf="correctAnswersCount !== questionsCurrentBatchSize">
          ({{correctAnswersCount}} correct answers out of {{questionsCurrentBatchSize}})
        </h3>

        <h2>New Total Score: {{userTidbits.numberOfQuestionsAnsweredCorrectly / userTidbits.totalNumberOfQuestions | percent }}</h2>
        <h3 *ngIf="userTidbits.numberOfQuestionsAnsweredCorrectly !== userTidbits.totalNumberOfQuestions">
          ({{userTidbits.numberOfQuestionsAnsweredCorrectly}} correct answers out of {{userTidbits.totalNumberOfQuestions}})
        </h3>

        <button type="submit"
                class="btn btn-primary btn-lg app-try-again-button"
                (click)="btnTryAgain_clicked()">
          Try Again!
        </button>
      </div>
    </ng-template>
  </div>
</div>
