<h1 class="header">Register</h1>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-md-offset-3">
            <form [formGroup]="registerForm">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input id="email"
                           type="email"
                           class="form-control"
                           placeholder="Username"
                           formControlName="email">
                </div>
                <div class="form-group app-register-password">
                    <label for="password">Password</label>
                    <input id="password"
                           type="password"
                           class="form-control"
                           placeholder="Password"
                           formControlName="password">
                    <label class="error">{{errorMessage}}</label>
                </div>
                <button type="submit"
                        class="btn btn-primary float-right"
                        (click)="tryRegisterAsync(registerForm.value.email, registerForm.value.password)">Submit!</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center align-items-center app-google-registration">
        <div class="col-md-4 col-md-offset-4">
            <button type="button"
                    class="btn btn-danger btn-block"
                    (click)="tryGoogleLoginAsync()">Register with Google</button>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 col-md-offset-4">
            <button type="button"
                    class="btn btn-primary btn-block"
                    (click)="tryFacebookLoginAsync()">Register with Facebook</button>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="app-create-account">
            <p>Can't Login? <a routerLink="/forgot-password">Reset Your Password</a></p>
            <p>Already have an account? <a routerLink="/sign-in">Log In!</a></p>
        </div>
    </div>
</div>