.header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.form-group.app-register-password {
  margin-bottom: 0 !important;
}

.row {
  margin-top: 10px;

  &.app-google-registration {
    margin-top: 30px;
  }
}

.error {
  color: red;
}

.app-create-account {
  margin-top: 30px;
  text-align: center;
}