<h1 class="header">Reset password</h1>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center">Please Enter your Email Address to Request a Password Reset.</p>

            <form>
                <div class="form-group">
                    <input type="email"
                           class="form-control app-email-textbox"
                           required
                           placeholder="Type Your Email Address ..."
                           #passwordResetEmail>
                </div>
                <div *ngIf="emailSent"
                     role="alert"
                     class="alert alert-primary app-alert-email-sent">
                    Password reset email sent, check your inbox!
                </div>

                <div class="form-group">
                    <input type="submit"
                           class="btn btn-primary"
                           value="Reset Password"
                           (click)="resetPasswordClickedAsync(passwordResetEmail.value)">
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="app-go-to-sign-in-page">
            <p>Go back to <a routerLink="/sign-in">Sign In</a></p>
        </div>
    </div>
</div>