.header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.container .form-group {
  text-align: center;
}

.app-email-textbox,
.app-alert-email-sent {
  text-align: center;
}

.row {
  margin-top: 10px;
}

.app-go-to-sign-in-page {
  text-align: center;
}
